.PageHeader{
    width: 100%;
}

.greeting{
    text-align: center;
    /* background-color: aquamarine; */
    padding:0;
}


.content{
    /* border: 1px green;
    border-style: solid; */
    text-align: center;
    font-size: 24px;
    /* background-color:blueviolet; */
    padding:0;
}
.content a {
    text-decoration: none;    
}

.pageContainer {
    height: 100%;
    width:65%;
    padding-left: 17.5%;
    padding-right: 17.5%;
    display:flex;
    justify-content: center;
}

.contentContainer{
    width:100%;
    height:100%;
    flex:1;
    justify-content: center;
}

.imageContainer{
    width:100%;
    height:100%;
    flex:1;
    justify-content: center;
    display:flex;
    padding-right: 4em;

}

.headShot {
    border-radius: 50%;
    width:500px;
    height:500px;
    object-fit:cover;
}


.SocialIcon{
    width: 50px;
    height:50px;
}

.IconList {
    list-style-type: none;
    display:flex;
    /* background-color: aqua; */
    justify-content: center;
    padding:0;
}

.IconList li {
    padding-left: 1rem;
    padding-right: 1rem;
}

.InParaLink{
    position:relative;
}
.InParaLink::after{
    content:'';
    position:absolute;
    background-color: #8aa2ff;
    width: 100%;
    height: 2px;
    left:0;
    bottom:-0.25px;

}

.KeepTogether {
    white-space: nowrap;
    display: inline-block;
  }


@media (max-width:870px){

    .pageContainer{
        flex-direction: column;
    }

    .headShot{
        width:400px;
        height:400px;
    }
}

@media (max-width:680px){
    .headShot{
        width:350px;
        height:350px;
    }

    .contentContainer{
        padding-bottom: 2em;
    }
}