html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.App {
    font-family: "Courier New";
    background-color: #FCF8F3;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
}